<div class="card-columns" *ngIf="results[0].album">
  <div class="card" *ngFor="let result of results">
    <img *ngIf="result.album.images.length; else noImage" [src]="result.album.images[1].url"
         class="card-img-top" alt="...">
    <ng-template #noImage><img
      src="https://matthewsenvironmentalsolutions.com/images/com_hikashop/upload/not-available.png"
      class="card-img-top"></ng-template>
    <div class="card-body">
      <span class="badge badge-pill badge-info" *ngFor="let artist of result.artists">{{artist.name}}</span><br>
      <span class="badge badge-pill badge-secondary">{{result.album.name}}</span><br>
      <span class="badge badge-pill badge-warning" *ngIf="result.explicit">EXPLICIT</span>
      <h5 class="card-title">{{result.name}}</h5>
      <button type="button" class="btn btn-primary mt-2">
        <a [href]="result.external_urls.spotify" class="btn btn-primary btn-sm" target="_blank">See track</a>
      </button>
    </div>
  </div>
</div>
