<div class="row">
  <div class="col">
    <input #term autofocus type="text" (keyup)="search(term.value)" class="form-control"
           placeholder="search for an artist, track, album, playlist...">
    <select class="mt-2" [(ngModel)]="filter" (ngModelChange)="search(term.value)">
      <option selected value="0">Artist</option>
      <option value="1">Track</option>
      <option value="2">Album</option>
      <option value="3">Playlist</option>
    </select>

    <select class="mt-2 ml-2" [(ngModel)]="quantity" (ngModelChange)="search(term.value)">
      <option selected value="5">5 results</option>
      <option value="10">10 results</option>
      <option value="25">25 results</option>
      <option value="50">50 results</option>
    </select>
    <br>
    <br>
    Showing results for: <b>{{ term.value }}</b>
  </div>
</div>
<hr>
<h1>{{searchType[filter]}}</h1>
<ng-container *ngIf="results !== undefined && results.length">
  <app-artist-card *ngIf="filter == 0" [results]=results>
  </app-artist-card>

  <app-track-card *ngIf="filter == 1" [results]=results>
  </app-track-card>

  <app-album-card *ngIf="filter == 2" [results]=results>
  </app-album-card>

  <app-playlist-card *ngIf="filter == 3" [results]=results>
  </app-playlist-card>
</ng-container>


<div class="alert alert-info mt-2" role="alert" *ngIf="results === undefined">
  Try searching an artist, album or song...
</div>
<div class="alert alert-warning mt-2" role="alert" *ngIf="results && !results.length">
  No results for the search.
</div>
